@import "tailwindcss";

@font-face {
  font-family: "PlayfairDisplay";
  src: url(./assets/PlayfairDisplay-Italic.ttf) format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url(./assets/PlayfairDisplay.ttf) format("truetype");
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: black;
}
